*, *::before, *::after { margin: 0; padding: 0; box-sizing: border-box; }
img { display: block; max-width: 100%; height: auto; }
html { 
  scroll-behavior: smooth; 
  overflow-x: hidden;
  width: 100%;
}
body { 
  font-family: 'Hanken Grotesque', sans-serif; 
  overflow-x: hidden;
  width: 100%;
  position: relative;
}

img {
  width: 100%;
  display: block;
}
.container {
  width: min(1200px, 90%);
  margin: 0 auto;
}

@media (max-width: 991px) {
  .container {
    padding:0 40px;
  }
}

@media (max-width: 767px) {
  .container {
    padding:0 20px;
  }
}

section {
  padding: 40px 0;
}


.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background: #f8f8f8;
  border-bottom: 1px solid #eee;
}

.header-grid {
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;
}

.logoimg {
  height: auto;
  max-width: 33px;
}

.logo p {
  font-size: 22px;
  font-weight: 600;
  line-height: 1.6;
  letter-spacing: -0.2px;
}

.header-btn {
  padding: 15px 20px;
  background: #F59E0B;
  color: black;
  text-decoration: none;
  border-radius: 30px;
}
.header-btn:hover {
  background: white;
  color: black;
  border: 1px solid black;
  transition: 0.3s ease-in-out;
}


/* ---------------- HERO 2 ---------------- */

.hero2{
  position:relative;
  min-height:100vh;
  display:flex;
  align-items:center;
  background:url("images/Herobg.webp") center/cover no-repeat;
  overflow:hidden;
  margin-bottom:40px;
}

.hero-overlay{
  position:absolute;
  inset:0;
  background:rgba(0,0,0,.55);
}

.hero2 .container{
  position:relative;
  z-index:2;
}

.hero2-content{
  display:flex;
  justify-content:space-between;
  align-items:center;
  gap:60px;
}

/* LEFT */

.hero2-left{
  flex:1;
  color:#fff;
}

.hero2-left h1{
  font-size:56px;
  font-weight:700;
  line-height:0.9;
  margin-bottom:120px;
  max-width:550px;
}

.hero2-description{
  font-size: 18px;
  font-weight: 400;
  line-height: 1.4;
  margin-bottom: 16px;
  max-width:550px;
}

.hero2-seat{
  font-size: 18px;
  font-weight: 400;
  line-height: 1.4;
}

.hero2-seat span{
  color: #f20d0d;
  font-weight: 600;
  font-size: 22px;
}

/* FORM */

.hero2-form{
  width:480px;
  background:#fff;
  padding:24px;
}

.hero2-form h2{
  text-align:center;
  font-size:28px;
  margin-bottom:24px;
}

.form-row{
  display:flex;
  gap:40px;
  margin-bottom:20px;
}

.hero2-form input,
.hero2-form select,
.hero2-form textarea{
  width:100%;
  padding:12px;
  border:none;
  background:#efefef;
  font-size:16px;
  font-family:inherit;
}

.hero2-form textarea{
  resize:none;
  margin-bottom:24px;
}

.hero-form select{
  color:#6b7280;      /* Same color as your placeholder */
  font-family:inherit;
  font-size:16px;
  appearance:none;
  -webkit-appearance:none;
  -moz-appearance:none;
  cursor:pointer;
}

.hero-form select{
    background:
      url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 24 24'%3E%3Cpath fill='%23666' d='M7 10l5 5 5-5z'/%3E%3C/svg%3E")
      no-repeat right 16px center,
      #efefef;
    padding-right:50px;
}
/* Button */

.hero2-form button {
  width: 100%;
  padding: 18px;
  background: #171717;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s ease;
}

.hero2-form button:hover {
  background: #fff;
  color: #111;
}

.batch-info {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
  margin-top: 16px;
  text-align: center;
}

.blink {
  text-transform: uppercase;
  font-weight: 600;
  color: #ffbf00;
  animation: blink 1.5s infinite ease-in-out;
}

@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

@media (max-width:991px){

.hero2{
  padding:140px 0 80px;
  min-height:auto;
}

.hero2-content{
  flex-direction:column;
}

.hero2-left h1{
  font-size:56px;
  max-width:100%;
  margin-bottom:40px;
}

.hero2-description{
  max-width:700px;
  margin-inline:auto;
}

.hero2-form{
  width:100%;
  max-width:650px;
}
}

@media (max-width:767px){

.hero2-left h1{
  font-size:36px;
}

.hero2-description{
  font-size:18px;
}

.hero2-form{
  padding:16px;
}

.hero2-form h2{
  font-size:20px;
}

.form-row{
  flex-direction:column;
  gap:16px;
}
}

/* ---------------- STATS ---------------- */

.stats {
  padding: 0px 0px 50px 0px;
  border-bottom: 1px solid black;
}

.stats-grid {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
}

.stat h2 {
  font-size: 80px;
  font-weight: 700;
}

.stat p {
  font-size: 18px;
  font-weight: 500;
  margin-top: 10px;
}

/* ---------------- WHY ---------------- */


.why h2 {
  font-size: 48px;
  line-height: 1;
  font-weight: 700;
  text-transform: uppercase;
}

.why-grid {
  display: grid;
  margin-top: 100px;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

.card {
  background: #f6f6f6;
  padding: 16px;
  border-radius: 8px;
  border: 1px solid #ddd;
  cursor: pointer;
  transition: 
  background-color 0.25s ease,
  color 0.25s ease,
  border-color 0.25s ease,
  box-shadow 0.25s ease,
  transform 0.25s ease;
}

.card:hover {
  background: #F59E0B;
  border-color: #F59E0B;
  transform: translate(-6px);
  box-shadow: 0 16px 40px rgba(0, 0, 0, 0.15);
}

.card h3, .card p {
  transform: color 0.35 ease;
}

.card h3 {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 600;
  line-height: 120%;
}

.card p {
  color: #555;
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 400;
  line-height: 140%;
  max-width: 325px;
}

.card:hover h3, .card:hover p {
  color: #111;
}

/* ---------------- TESTIMONIALS ---------------- */

.testimonials {
  padding: 80px 0;
  background: #f8f8f8;;
}

.testimonials h2 {
  font-size: 48px;
  line-height: 1;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 80px;
}

.testimonial-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

.testimonial {
  width: 100%;
  min-height: 300px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid black;
  border-radius: 8px;
  padding: 25px;
  background: white;
  cursor: pointer;
  transition: 
  background-color 0.25s ease,
  color 0.25s ease,
  border-color 0.25s ease,
  box-shadow 0.25s ease,
  transform 0.25s ease;
}

.testimonial:hover {
  background: #F59E0B;
  border-color: #F59E0B;
  transform: translateY(-6px);
  box-shadow: 0 16px 40px rgba(0, 0, 0, 0.15);
}

.testimonial p,
.person h4,
.person span {
  transition: color 0.25s ease;
}

.testimonial:hover p,
.testimonial:hover .person h4,
.testimonial:hover .person span {
  color: #111;
}

.testimonial p {
  font-size: 18px;
  font-weight: 500;
  line-height: 140%;
  color: #555;
}

.testimonial-video {
  width: 100%;
  min-height: 300px;
  height: auto;
  padding: 0px !important;
  object-fit: cover;
  border-radius: 8px;
}

.testimonial-video iframe {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 12px;
  display: block;
}

.person {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-top: 20px;
}

.person h4 {
  font-size: 18px;
}

.person span {
  color: #777;
}

/* ---------------- TABLET ---------------- */

@media (max-width: 992px) {

  .btn {
    margin-left: 0px;
  }

  .btn-wrap {
    width: 100%;
    text-align: center;
    margin-top: 16px;
    margin-left: 0px;
  }


  .stats-grid {
    .stats-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    }
  }

  .stat h2 {
    font-size: 40px;
  }
  .why-grid {
    grid-template-columns: 1fr;
  }

  .why h2,
  .testimonials h2 {
    font-size: 32px;
    font-weight: 700;
  }

  .testimonial-grid {
    grid-template-columns: 1fr;
  }

  .card p {
    max-width: fit-content;
  }
}

/* ---------------- MOBILE ---------------- */

@media (max-width: 576px) {
    .logo p {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.8;
    }

    .header-btn {
  padding: 15px 16px;
  background: #F59E0B;
  color: white;
  text-decoration: none;
  border-radius: 30px;
    }


  .why h2,
  .testimonials h2 {
    font-size: 28px;
  }

  .card {
    padding: 20px;
  }

  .stats-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  .stat h2 {
    font-size: 32px;
  }

  .stat p {
    font-size: 14px;
    line-height: 1.3;
  }

  .card p {
    max-width: 325px;
  }
}

@media (max-width: 400px) {
     .logo p {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.6;
    }

    .logoimg {
      display: none;
    }

    .nav-container {
  width: min(80%);
  margin: 0 auto;
  }

    .header-btn {
  padding: 12px 16px;
  background: #F59E0B;
  color: black;
  text-decoration: none;
  border-radius: 30px;
    }

}

/* ================= ROADMAP ================= */

.roadmap {
  background: #fff;
  padding: 90px 0;
}

.section-title {
  font-size: 48px;
  font-weight: 700;
  line-height: 110%;
  margin-bottom: 60px;
}

.roadmap-wrapper {
  max-width: 850px;
  margin: auto;

  display: flex;
  flex-direction: column;
  gap: 35px;
}

.roadmap-card {
  display: flex;
  background: #F6F6F6;
  padding: 30px 0px;
  overflow: hidden;
  cursor: pointer;
  transition: 
  background-color 0.25s ease,
  box-shadow 0.25s ease,
  transform 0.25s ease;
}

.roadmap-card:hover {
  background: #F59E0B;
  transform: translateY(-6px);
  box-shadow: 0 16px 40px rgba(0, 0, 0, 0.15);
}

.month-box {
  width: 170px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #00000086;
  padding: 0px 30px;
}

.month-box span {
  font-size: 18px;
  letter-spacing: 2px;
  color: black;
  font-weight: 600;
  margin-bottom: 10px;
}

.month-box h3 {
  font-size: 80px;
  font-weight: 600;
  line-height: 120%;
  color: black;
}

.roadmap-content {
  flex: 1;
  padding: 0px 40px;
}

.roadmap-content h3 {
  font-size: 32px;
  font-weight: 600;
  line-height: 120%;
  margin-bottom: 18px;
}

.roadmap-content ul {
  padding-left: 20px;
}

.roadmap-content li {
  margin-bottom: 10px;
  color: #000000bd;
  font-size: 18px;
  font-weight: 400;
  line-height: 140%;
}

.month-box,
.month-box span,
.month-box h3,
.roadmap-content,
.roadmap-content h3,
.roadmap-content li {
  transition: all 0.25s ease;
}


.roadmap-card:hover .roadmap-content h3,
.roadmap-card:hover .roadmap-content li,
.roadmap-card:hover .month-box span,
.roadmap-card:hover .month-box h3 {
  color: #111;
}

/* ---------------- Tablet ---------------- */

@media (max-width: 992px) {
  .section-title {
    font-size: 34px;
  }

   .month-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 12px;

    width: 100%;
    min-height: 80px;
  }

  .month-box span,
  .month-box h3 {
    margin: 0;
    line-height: 1;
  }

   .month-box h3 {
    font-size: 32px;
  }
}

/* ---------------- Mobile ---------------- */

@media (max-width: 768px) {
  .roadmap-card {
    flex-direction: column;
  }

  .month-box {
  width: 100%;
  border-right: none;
  border-bottom: 1px solid #ddd;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  gap: 8px;
  padding: 20px;
}

  .month-box h3 {
    font-size: 24px;
  }

  .roadmap-content {
    padding: 25px;
  }

  .section-title {
    font-size: 28px;
  }

  .roadmap-content h3 {
    font-size: 22px;
  }

  .roadmap-content li {
    font-size: 18px;
  }
}

/* =========================
   OUTCOMES SECTION
========================= */

.outcomes {
  padding: 80px 0;
  background-color: #F6F6F6;
}

.section-header {
  max-width: 700px;
  margin-bottom: 80px;
}

.section-header h2 {
  font-size: 48px;
  line-height: 1;
  font-weight: 700;
  text-transform: uppercase;
}

.outcomes-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.outcome-card {
  border: 1px solid #111;
  border-radius: 12px;
  padding: 2rem;
  min-height: 320px;

  display: flex;
  flex-direction: column;

  cursor: pointer;
  transition: 
  background-color 0.25s ease,
  color 0.25s ease,
  border-color 0.25s ease,
  box-shadow 0.25s ease,
  transform 0.25s ease;
}

.outcome-card:hover {
  background: #F59E0B;
  border-color: #F59E0B;
  transform: translateY(-6px);
  box-shadow: 0 16px 40px rgba(0,0,0,.15);
}

.number {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 8px;
}

.outcome-card h3 {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 24px;
}

.outcome-card p {
  font-size: 18px;
  line-height: 1.5;
  color: #444;
}

.outcome-card h3,
.outcome-card p,
.outcome-card .number {
  transition: color 0.25s ease;
}

.outcome-card:hover h3,
.outcome-card:hover p,
.outcome-card:hover .number {
  color: #111;
}

/* Tablet */

@media (max-width: 991px) {
  .outcomes {
    padding: 80px 0;
  }

  .outcomes-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .section-header h2 {
    font-size: 32px;
   }

    .number {
    font-size: 20px;
    }

    .outcome-card h3 {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 24px;
    }

    .outcome-card p {
    font-size: 18px;
    }
}

/* Mobile */

@media (max-width: 767px) {
  .outcomes {
    padding: 60px 0;
  }

  .outcomes-grid {
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }

  .section-header {
    margin-bottom: 40px;
  }

  .outcome-card {
    min-height: auto;
    padding: 1.5rem;
  }

  .number {
    font-size: 1.5rem;
  }

  .outcome-card h3 {
    font-size: 2rem;
  }

  .outcome-card p {
    font-size: 1rem;
    line-height: 1.6;
  }
}

/* ==========================
   MENTOR SECTION
========================== */

.mentor {
  padding: 80px 0;
}

.mentor-content {
  display: grid;
  grid-template-columns: 1.2fr 0.8fr;
  gap: 5rem;
  align-items: center;
}

.mentor-text h2 {
  font-size: 36px;
  line-height: 1;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.mentor-copy {
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.mentor-description {
  font-size: 18px;
  line-height: 1.8;
  color: #333;
  max-width: 700px;
  opacity: 0.8;
}

.name {
  font-size: 48px;
  font-weight: 600;
  font-style: italic;
  text-transform: none;
  color: #F59E0B;
}

.mentor-stats {
  display: flex;
  gap: 40px;
  text-transform: uppercase;
}

.mentor-stat {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 6px;
}

.mentor-stat h3 {
  font-size: 32px;
  font-weight: 600;
}

.mentor-stat p {
  font-size: 18px;
  font-weight: 500;
  opacity: 0.7;
}
.mentor-quote {
  font-size: 20px;
  line-height: 1.3;
  font-weight: 400;
  max-width: 800px;
  font-style: italic;
}

.mentor-image img {
  width: 100%;
  display: block;
  object-fit: cover;
}

/* Tablet */

@media (max-width: 991px) {
  .mentor {
    padding: 80px 0;
  }

  .mentor-content {
    grid-template-columns: 1fr;
    gap: 3rem;
  }

  .mentor-image {
    max-width: 500px;
  }

  .mentor-text h2 {
    font-size: 24px;
  }

  .mentor-quote {
    font-size: 20px;
  }

  .name {
    font-size: 32px;
  }
}

/* Mobile */

@media (max-width: 767px) {
  .mentor {
    padding: 80px 0;
  }

  .mentor-image {
    max-width: 100%;
  }
}

/* Small Mobile */

@media (max-width: 450px) {

  .mentor {
    padding: 60px 0;
  }

  .mentor-content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
  }

  .mentor-text h2 {
    font-size: 24px;
    line-height: 1.3;
  }

  /* Put Vijay on the next line */

  .name {
    font-size: 32px;
    line-height: 1;
  }

  .mentor-copy {
    gap: 40px;
  }

  .mentor-description {
    font-size: 16px;
    line-height: 1.8;
  }

  /* Stats */

  .mentor-stats {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
  }

  .mentor-stat h3 {
    font-size: 28px;
  }

  .mentor-stat p {
    font-size: 14px;
    line-height: 1.3;
  }

  /* Quote */

  .mentor-quote {
    font-size: 18px;
    line-height: 1.5;
  }

}

/* =========================
   INDUSTRY SECTION
========================= */

.industry {
  background: #262626;
  color: #fff;
  padding: 80px 0;
}

.industry-header h2 {
  font-size: 48px;
  line-height: 1.05;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 40px;
}

/* Spotify */

.spotify-wrapper {
  width: 100%;
  max-width: 1050px;
  margin: 0 auto;
  border-radius: 18px;
  overflow: hidden;
  border: 4px solid #1f1f1f;
}

.spotify-wrapper iframe {
  display: block;
  width: 100%;
  height: 420px;
  border: none;
}

.industry-caption {
  text-align: center;
  max-width: 900px;
  margin: 16px auto 80px;
  font-size: 18px;
  line-height: 1.5;
}

/* Bottom Grid */

.industry-stats {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2rem;
}

.stat-column h4 {
  font-size: 18px;
  margin-bottom: 16px;
  font-weight: 600;
}

.stat-column ul {
  list-style: none;
}

.stat-column li {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 8px;
  color: rgba(255,255,255,0.9);
}

@media (max-width: 991px) {

  .industry-header {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-bottom: 40px;
  }

  .industry-header h2 {
    max-width: 100%;
  }

  .industry-header p {
    max-width: 650px;
  }

  .industry-stats {
    grid-template-columns: repeat(2, 1fr);
    gap: 2.5rem 2rem;
  }

  .spotify-wrapper iframe {
    height: 380px;
  }
}

@media (max-width: 767px) {

  .industry {
    padding: 80px 0;
  }

  .industry-header h2 {
    font-size: 32px;
  }


  .spotify-wrapper iframe {
    height: 352px;
  }



  .stat-column h4 {
    margin-bottom: 0.75rem;
  }

  .stat-column li {
    line-height: 1.8;
    font-size: 1rem;
  }
}

/* ==========================
   AUDIENCE SECTION
========================== */

.audience {
  padding: 80px 0;
}

.section-heading {
  margin-bottom: 80px;
}

.section-heading h2 {
  font-size: 48px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.1;
}

.audience-list {
  max-width: 1100px;
  margin-left: auto;
}

.audience-item {
  display: grid;
  grid-template-columns: 60px 1fr;
  gap: 24px;
  align-items: center;

  padding: 16px 20px;
  border-radius: 8px;
  cursor: pointer;
  transition: 
  background-color 0.25s ease,
  color 0.25s ease,
  border-color 0.25s ease,
  box-shadow 0.25s ease,
  transform 0.25s ease;
}

.audience-item span,
.audience-item p {
  transition: color 0.25s ease;
}

.audience-item:hover {
  background: #F59E0B;
  padding-left: 28px;
  transform: translateX(6px);
  box-shadow: 0 12px 30px rgba(0,0,0,.12);
}

.audience-item:hover span,
.audience-item:hover p {
  color: #111;
}

.audience-item span {
  font-size: 18px;
  color: #666;
  font-weight: 500;
}

.audience-item p {
  font-size: 24px;
  line-height: 1.4;
  font-weight: 400;
}

@media (max-width: 991px) {
    
  .section-heading h2 {
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.1;
 }

  .audience {
    padding: 80px 0;
  }

  .audience-item {
    grid-template-columns: 50px 1fr;
  }

}

@media (max-width: 767px) {

  .audience {
    padding: 80px 0;
  }

  .audience-item {
    grid-template-columns: 40px 1fr;
  }

  .audience-item p {
    font-size: 20px;
    line-height: 1.6;
  }

}

/* ==========================
   POPUP
========================== */

.popup-overlay{

    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:rgba(0,0,0,.6);
    backdrop-filter:blur(8px);
    opacity:0;
    visibility:hidden;
    transition:.4s ease;
    z-index:9999;
}

/* Show popup */

.popup-overlay.show{
    opacity:1;
    visibility:visible;
}

.popup{
    width:min(750px,90%);
    max-height:90vh;
    overflow-y:auto;
    border-radius:20px;
    animation:popup .4s ease;
}


/* animation */

@keyframes popup{
    from{
        transform:translateY(40px);
        opacity:0;
    }
    to{
        transform:translateY(0);
        opacity:1;
    }
}


#popupApplyForm {
  background: #292929;
  color: #fff;
  padding: 40px 20px;
  border-radius: 16px;
}
.popup-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close-popup {
  font-size: 40px;
  font-weight: 500;
  color: #F59E0B;
  cursor:pointer;
  transition:.3s;
}

.popup-title {
  font-size: 32px;
  font-weight: 700;
}

@media (max-width: 768px) {
  .popup-title {
    font-size: 24px;
  }
}


/* ==========================
   FOOTER
========================== */

.footer {
  padding: 2.5rem 0;
  text-align: center;
  background: #000000;
}

.footer p {
  font-size: 18px;
  letter-spacing: 0.08em;
  color: #ffffff;
}

@media (max-width: 768px) {
  .footer {
    padding: 2rem 0;
  }
}

/* =====================
   REVEAL ANIMATION
===================== */

.reveal,
.stagger {
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.8s ease;
}

.reveal.active,
.stagger.active {
  opacity: 1;
  transform: translateY(0);
}